*.a
.obj/
tests/bjson.so
examples/*.so
microbench*.txt
qjs
qjsc
qjscalc
qjscalc.c
hello.c
hello
hello_module
repl.c
run-test262
test262
test262_*.txt
test262o
test262o_*.txt
unicode
unicode_gen
run_octane
run_sunspider_like
build/
